/* maptwo */
body {
    margin: 0;
    padding: 0;
}

#map {
    width: 80%;
    height: 800px;
    margin: 5em auto;
    margin-top: 2.5em;
    margin-bottom: 0.1em;
}

.mapboxgl-popup-content h4 {
    font-weight: 600;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    font-size: 1.4em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 350;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

.mapboxgl-popup-content {
    overflow-y: auto;
    max-height: 28vh;
}
/* 
.mapboxgl-ctrl-compass {
    display: none !important;
} */
  
.legend {
background-color: #fff;
border-radius: 2px;
bottom: 0px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
font: 12px/15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 4px;
position: absolute;
right: 0px;
z-index: 1;
}
 
.legend h4 {
margin: 0 0 0px;
}

 
.legend div span {
/* border-radius: 50%; */
display: inline-block;
height: 10px;
margin-right: 5px;
width: 10px;
}

h1 { 
    color: #323131; 
    font-family: "Helvetica Neue",Arial,sans-serif; 
    font-size: 24px; 
    font-weight: normal; 
    line-height: 50px; 
    margin-right: 5px;
    margin-top: 1em;
    margin-left: 357px;

}

h5 { 
    color: #3F3D3D; 
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    font-weight: normal; 
    line-height: 20px; 
    margin-right: 220px;
    margin-left: 220px;

}


h3 { 
    color: #3F3D3D; 
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
    font-weight: normal; 
    line-height: 20px; 
    margin-left: 123px;
    margin-bottom: 0.1em;


}


fieldset {
    background-color: white;
    border-radius: 0.5px;
    bottom: 0px;
    border: 25px;
    box-shadow: 0 1px 1px hsl(0, 5%, 96%);
    font: 12px/15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 1px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

fieldset legend {
background: #1F497D;
color: #fff;
padding: 3px 14px ;
font-size: 13px;
border-radius: 5px;
box-shadow: 0 0 0 2px #ddd;
margin-left: 0.5px;

}

